<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Détail d'une Planète</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Détail de la Planète</h1>
    <div th:text="${errorString}">Erreur</div>
    <form action="./planete" method="POST">
        <div>
            <label for="id">ID:</label>
            <input id="id" type="text" th:field="*{id}" readonly="readonly" />
        </div>
        <div>
            <label for="nom">Nom:</label>
            <input id="nom" type="text" th:field="*{nom}" />
            <p class="error" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}">Erreur de validation</p>
        </div>
        <div>
            <input type="submit" value="Sauvegarder" />
        </div>
    </form>
    
    <a th:href="@{/planetes}">Retour à la liste des planètes</a>
</body>

</html>

