<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="demonstrationService"
		class="fr.maboite.webshop.xmlservice.DemonstrationService">
		<property name="demonstrationDao" ref="demonstrationDao"/>
	</bean>

	<bean id="demonstrationDao"
		class="fr.maboite.webshop.xmlservice.DemonstrationDao">
	</bean>

</beans>