<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title th:text="${'Détail du example ' + example.nom}">Détail d'un example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../styles.css" />
</head>

<body>

 <h1>Modification du formulaire</h1>

 <form action="example-detail" 
    method="get"
    th:object="${example}" 
    th:action="@{/example-sauvegarde}"
    th:method="post" >
  <p>Id :</p>
  <p>
   <input readonly="true" name="id" th:value="${example.id}" />
  </p>
  <p>Nom :</p>
  <p>
   <input type="text" name="nom" th:value="${example.nom}" />
   <p th:if="${#fields.hasErrors('nom')}">Le champ nom est mauvais</p>
  </p>
  <p>Taille :</p>
  <p>
   <input type="text" name="taille" th:value="${example.taille}" />
   <p th:if="${#fields.hasErrors('taille')}">Ce champ est mauvais</p>
  </p>
  <p>Sauvegarder :</p>
  <p>
   <input type="submit" value="Sauvegarder" />
  </p>
 </form>

</body>
</html>